body {
    font-size: 28px;
}

 .section1 {
    display: inline-block;
    max-width: 100%;
    background-color: rgb(245, 240, 230);
    padding: 15px;


}

.section2 {
    display: inline-block;
    max-width: 100%;
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    padding: 15px;


}

/* fix my nav bar so that my section 3 is to the right of section 2 instead of below section 1 */

.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    font-size: 28px;
    width: 100%;
  }

.logo {
    max-width: 400px;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    max-width: 400px;

  }
  
  li a:hover {
    background-color: #182b49;
    color: white;
  }

  
  .section3 {
    display: inline-block;
    max-width: 100%;
    background-color: rgb(245, 240, 230);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    padding: 10px;
  }

.grid-container > div {
    background-color: #182b49;
    color: white;
    padding: 10px 10px;
    text-align: left;
    float: left;
    max-height: 500px;
    overflow: scroll;
  }


.subscribe {

    /* max-width: 100%; */
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    padding: 20px;
  }


 @media screen and (max-width: 800px) {

    ul {
        display: none;
    }   

    .logo {
        max-width: 75%;
    }

    .section1, .section2, .section3 {
        font-size: 20px;
    } 
    
    .section1-header, .section2-header, .section3-header {
        font-size: 24px;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }   
    
 }